<mat-select (selectionChange)='onSelectChange($event)' class="default-mat-select" [value]='selectedOpt'>
  <mat-option *ngFor="let opt of authorsSelectOptions;" [value]='opt'>{{opt}}</mat-option>
</mat-select>
<h3 class="title-1 library__title" lnVoice>
  {{authors[selectedOpt][0].title}}
</h3>
<div class="library__authors__body">
  <div class="library__authors__body__title">
    {{'АННОТАЦИЯ' | translate}}
  </div>
  <div [innerHtml]='authors[selectedOpt][0].content | safe:"html"'></div>

</div>
