<div class="ads">
  <ul class="ads__list">
    <li *ngFor="let post of posts">
      <div class="ads__list__content">
        <div class="ads__list__date" lnVoice>{{post.published_at | datePipe:'dd MMM'}}</div>
        <a class="ads__list__title" [routerLink]='["/post", post.slug]' lnVoice>{{post.title}}</a>
        <a [routerLink]='["/post", post.slug]' class="learn-more" lnVoice>
          {{'Узнать больше' | translate}}
          <i class="sprite sprite-arrow-right"></i>
        </a>
      </div>
    </li>
  </ul>
  <!-- <a class="more-list" href="#">{{'Еще' | translate}}...</a> -->
</div>
