<ln-layout>
  <div class="container">
    <ln-page-header
      [image]='currentMenu && currentMenu.image ? currentMenu.image : parent && parent.image ? parent.image : null'
      [title]='currentMenu ? currentMenu.label : null' [category]='parent ? parent.label : null' class="page-header">
    </ln-page-header>

    <div class="contents content__inner">
      <ln-sidebar class="left-content sidebar" [items]='subItems'></ln-sidebar>
      <div class="right-content">
        <div class="gallery" *ngIf='albums$ | async as albums'>
          <div class="gallery__item" *ngFor="let album of albums" [style.backgroundImage]='"url("+album.thumbnail+")"'>
            <a [routerLink]='["/gallery", album.slug]' class="gallery__item__link"></a>
            <div class="gallery__item__details">
              <a [routerLink]='["/gallery", album.slug]' class="gallery__item__title" lnVoice>{{album.title}}</a>
              <div class="gallery__item__count" lnVoice>{{album.mediaCount}} {{'фото' | translate}}</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ln-layout>
