<div class="news">
  <div class="news__view-btns">
    <button (click)='onViewChange("list")' class="news__view-btns__btn news__view-btns__list"
      [ngClass]='{"active": viewType==="list"}'>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <button (click)='onViewChange("grid")' class="news__view-btns__btn news__view-btns__grid"
      [ngClass]='{"active": viewType==="grid"}'>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <ul class="news__list" [ngClass]='{"news__list__grid": viewType === "grid"}'>
    <li *ngFor="let post of posts">
      <img *ngIf="post.images" [src]="post.images.medium" class="news__list__img" alt="">
      <div class="news__list__content">
        <a class="news__list__title" [routerLink]='["/post", post.slug]' lnVoice>{{post.title}}</a>
        <div class="news__list__date" lnVoice>{{post.published_at | datePipe: 'dd MMM'}}</div>
        <div class="news__list__desc" lnVoice>{{post.description}}</div>
        <a [routerLink]='["/post", post.slug]' class="learn-more" lnVoice>
          {{'Узнать больше' | translate}}
          <i class="sprite sprite-arrow-right"></i>
        </a>
      </div>
    </li>
  </ul>
  <!-- <a class="more-list" href="#">{{'Еще' | translate}}...</a> -->
</div>
