<div class="container clearfix" *ngIf='posts$ | async as posts'>
  <div class="popular-news__main">
    <a [routerLink]='["/post", posts[0].slug]' *ngIf='posts[0].images' class="popular-news__main-img"
      [style.backgroundImage]="'url('+posts[0].images.large+')'"></a>
    <div class="popular-news__main-details">
      <h3 class="popular-news__main-title" lnVoice>{{'Популярные новости' | translate}}</h3>
      <div class="popular-news__main-details__inner">
        <div class="overflowed">
          <h4>
            <a [routerLink]='["/post", posts[0].slug]' lnVoice>{{posts[0].title}}</a>
          </h4>
          <p lnVoice>
            {{posts[0].description}}
          </p>
          <a [routerLink]='["/post", posts[0].slug]' class="learn-more" lnVoice>
            {{'Узнать больше' | translate}}
            <i class="sprite sprite-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ul class="popular-news__list">
    <ng-container *ngFor='let post of posts;let i = index'>
      <li *ngIf='i > 0'>
        <div class="popular-news__list-date">
          {{post.published_at | datePipe:'d'}}<span lnVoice>{{post.published_at | datePipe:'MMMM'}}</span></div>
        <div class="overflowed">
          <a class="popular-news__list-title" [routerLink]='["/post", post.slug]' lnVoice>{{post.title}}</a>
          <div lnVoice>
            {{post.description}}
          </div>
        </div>
      </li>
    </ng-container>

  </ul>
</div>
