<div class="calendar__header">
  <div class="clearfix">
    <div class="calendar__datepicker">
      <mat-calendar *ngIf='datePickerInit' (selectedChange)="selectedChange($event)" [selected]='selectedDate'>
      </mat-calendar>
    </div>
    <div class="calendar__top-event" *ngIf='posts?.length'>
      <div class="calendar__top-event__title" lnVoice>{{'Ближайшее событие' | translate}}</div>
      <div class="calendar__top-event__body">
        <div class="calendar__top-event__body__header">
          <div class="pull-left" lnVoice>{{posts[0].published_at | datePipe:'dd MMM'}}</div>
          <div class="pull-right" lnVoice>
            <i class="sprite sprite-time"></i>
            {{posts[0].published_at | datePipe:'HH:mm'}}
          </div>
        </div>
        <p lnVoice>{{posts[0].title}}</p>
        <div>
          <a [routerLink]='["/post", posts[0].slug]' lnVoice>{{'Узнать больше' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="calendar__list" *ngIf='posts'>
  <ng-container *ngFor="let post of posts;let i = index">
    <li *ngIf="i>0">
      <div class="calendar__list__date">
        <div lnVoice>
          {{post.published_at | datePipe:'dd'}}
          <span>{{post.published_at | datePipe:'MMMM'}}</span>
        </div>
        <div lnVoice>{{post.published_at | datePipe:'HH:mm'}}</div>
      </div>
      <div class="calendar__list__text">
        <a [routerLink]='["/post", post.slug]' class="calendar__list__title" lnVoice>{{post.title}}</a>
      </div>
    </li>
  </ng-container>

</ul>
