<div class="int-activity__inner" *ngIf='posts$ | async as posts'>
  <div class="int-activity__title" lnVoice [innerHtml]='"Международная деятельность" | translate | safe: "html"'>

  </div>
  <ul class="int-activity__list">
    <li *ngFor='let post of posts'>
      <a [routerLink]='["/post", post.slug]' lnVoice>{{post.title}}</a>
    </li>
  </ul>
</div>
