<div class="top-block__circle"></div>
<div class="container">
  <div class="top-news" *ngIf='topNews$ | async as topNews;'>
    <div class="top-news__main">
      <h3 class="top-news__main__title" lnVoice>{{'НОВОСТИ' | translate}}</h3>
      <div class="top-news__main__item">
        <div class="top-news__main__item__date" lnVoice>
          {{topNews[0].published_at | datePipe:'dd MMM'}}
        </div>
        <div class="top-news__main__item__title">
          <a [routerLink]='["/post", topNews[0].slug]' lnVoice>{{topNews[0].title}}</a>
        </div>
        <p lnVoice>
          {{topNews[0].description}}
        </p>
      </div>
    </div>
    <div class="top-news__list">
      <ul>
        <ng-container *ngFor='let item of topNews;let i = index'>
          <li *ngIf='i>0'>
            <div class="top-news__list__date" lnVoice>{{item.pubished_at | datePipe:'dd MMM'}}</div>
            <a [routerLink]='["/post", item.slug]' class="top-news__list__title" lnVoice>{{item.title}}</a>
          </li>
        </ng-container>

      </ul>
      <a [routerLink]="['/category', 'novosti']" class="top-news__list__btn">
        <span></span>
        <i class="sprite sprite-arrow-right-large"></i>
      </a>
    </div>
  </div>
</div>
