<div class="container clearfix">
  <div class="main-tabs__inner">
    <div class="main-tabs__panels">
      <div class="main-tabs__panels-inner">
        <div class="main-tabs__panel" *ngFor='let post of posts; let i = index' [ngClass]='{"active": activeTab===i}'
          id='panel{{i}}' [attr.data-panel]='i'>
          <div class="main-tabs__panel-inner">
            <a [routerLink]='["/post", post.slug]' *ngIf='post.images'
              [style.backgroundImage]="'url('+post.images.medium+')'" class="main-tabs__panel-img">
            </a>
            <div class="main-tabs__panel-title" lnVoice>
              {{post.title}}
            </div>
            <p lnVoice>
              {{post.description}}
            </p>
            <a [routerLink]='["/post", post.slug]' class="learn-more" lnVoice>
              {{'Узнать больше' | translate}}
              <i class="sprite sprite-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- <div class="main-tabs__panel" [ngClass]='{"active": activeTab===2}' id='panel2' data-panel='2' #panel2>
          <div class="main-tabs__panel-inner">
            <a href="#" style="background-image: url(/assets/images/img/img-1.jpg)" class="main-tabs__panel-img">
            </a>
            <div class="main-tabs__panel-title">
              Подготовка к квалификационному оцениванию
            </div>
            <p>
              Здесь вы можете найти законченные авторские произведения,
              описывающее результаты оригинального научного исследования
              (первичная научная статья) или посвящённая рассмотрению ранее
              опубликованных научных статей, связанных общей темой (обзорная
              научная статья).
              <br>
              Здесь вы можете найти законченные авторские произведения,
              описывающее результаты оригинального научного исследования
              (первичная научная статья) или посвящённая рассмотрению ранее
              опубликованных научных статей, связанных общей темой (обзорная
              научная статья).
            </p>
            <a href="#" class="learn-more">
              Узнать больше
              <i class="sprite sprite-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="main-tabs__panel" [ngClass]='{"active": activeTab===3}' id='panel3' data-panel='3' #panel3>
          <div class="main-tabs__panel-inner">
            <a href="#" style="background-image: url(/assets/images/img/img-1.jpg)" class="main-tabs__panel-img">
            </a>
            <div class="main-tabs__panel-title">
              Подготовка к квалификационному оцениванию
            </div>
            <p>
              Здесь вы можете найти законченные авторские произведения,
              описывающее результаты оригинального научного исследования
              (первичная научная статья) или посвящённая рассмотрению ранее
              опубликованных научных статей, связанных общей темой (обзорная
              научная статья).
            </p>
            <a href="#" class="learn-more">
              Узнать больше
              <i class="sprite sprite-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="main-tabs__panel" [ngClass]='{"active": activeTab===4}' id='panel4' data-panel='4' #panel4>
          <div class="main-tabs__panel-inner">
            <a href="#" style="background-image: url(/assets/images/img/img-1.jpg)" class="main-tabs__panel-img">
            </a>
            <div class="main-tabs__panel-title">
              Подготовка к квалификационному оцениванию
            </div>
            <p>
              Здесь вы можете найти законченные авторские произведения,
              описывающее результаты оригинального научного исследования
              (первичная научная статья) или посвящённая рассмотрению ранее
              опубликованных научных статей, связанных общей темой (обзорная
              научная статья).
            </p>
            <a href="#" class="learn-more">
              Узнать больше
              <i class="sprite sprite-arrow-right"></i>
            </a>
          </div>
        </div> -->
      </div>
    </div>
    <div class="main-tabs__list">
      <ul>
        <li class="plus main-tabs__list-plus"></li>
        <li [ngClass]='{"active": activeTab===i}' *ngFor='let post of posts;let i = index'
          (click)='onTabChange("panel" + i)' lnVoice>
          {{post.title}}
        </li>
        <!-- <li [ngClass]='{"active": activeTab===2}' (click)='onTabChange(panel2)'>
          Подготовка к квалификационному оцениванию
        </li>
        <li [ngClass]='{"active": activeTab===3}' (click)='onTabChange(panel3)'>
          Научные пособия Национальной школы судей
        </li>
        <li [ngClass]='{"active": activeTab===4}' (click)='onTabChange(panel4)'>
          Научные статьи
        </li> -->
      </ul>
    </div>
  </div>
</div>
