<div class="contents">
  <div class="left-content page-header__image">
    <i [style.backgroundImage]='"url("+image+")"' *ngIf='image'></i>
  </div>
  <div class="right-content">
    <div class="right-content__inner">
      <div class="page-header__category" *ngIf='category' lnVoice>{{category}}</div>
      <h2 class="page-header__title" lnVoice>{{title}}</h2>
    </div>
  </div>
</div>
