<ln-layout>
  <div *ngIf='post' class="container">
    <ln-page-header [image]='post.images ? post.images.medium : currCat && currCat.image ? currCat.image : null'
      [title]='post.title' [category]='currCat ? currCat.label : null' class="page-header"></ln-page-header>
    <div class="contents content__inner">
      <ln-sidebar class="left-content sidebar" [items]='subItems'></ln-sidebar>
      <div class="right-content">
        <div class="one-post" lnVoice [innerHtml]='post.content | safe:"html"'></div>
      </div>
    </div>
  </div>
</ln-layout>
