<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-nav">
        <ln-main-menu theme='footer'></ln-main-menu>
      </div>
      <div class="footer-sidebar">
        <div class="footer-links">
          <ul>
            <li *ngFor='let link of usefulLinks$ | async'>
              <a [href]="link.slug" target="_blank">
                <i>
                  <img *ngIf='link.images' [src]="link.images.original" [alt]="link.slug" />
                </i>
                <span lnVoice>{{link.title}}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-contacts">
          <h4 lnVoice>{{'КОНТАКТЫ' | translate}}</h4>
          <ng-container *ngIf='contacts$ | async as contacts'>
            <div lnVoice [innerHtml]='contacts.content | safe: "html"'></div>
          </ng-container>
          <div class="footer-nets">
            <strong lnVoice>{{'Мы в соц. сетях:' | translate}}</strong>
            <div class="overflowed" *ngIf='nets$ | async as nets' [innerHtml]='nets.content | safe: "html"'>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom__logo">
        <img src="/assets/images/logo.png" alt="logo" />
        <div class="overflowed" lnVoice>
          <strong>
            {{'Copyright1' | translate}}
          </strong>
          <span>{{'Copyright2' | translate}}</span>
        </div>
      </div>
      <div class="footer-bottom__note" lnVoice [innerHtml]="'CTRLENTER' | translate | safe: 'html'"></div>
    </div>
  </div>
</footer>
