@import '~compass-mixins/lib/compass/css3';
@import './variables';
@import './functions';

:host {
  display: block;
  height: 100%;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  h2 {
    font-size: 45px;
    font-family: 'MagistralTT';
    margin: 0 0 25px;
  }

  p {
    font-size: 22px;
  }
}
