<ul class="docs-list">
  <li *ngFor="let post of posts">
    <div class="docs-list__icon" *ngIf='post.document'>
      <i class="sprite sprite-pdf"></i>
    </div>
    <div class="docs-list__text">
      <a [href]="post.document" *ngIf='post.document' class="docs-list__title" lnVoice>{{post.title}}</a>
      <a [routerLink]='["/post", post.slug]' *ngIf='!post.document' class="docs-list__title" lnVoice>{{post.title}}</a>
    </div>
  </li>
</ul>
