<header class="header" lnFixedMenu>
  <div class="header__left">
    <div class="header__logo">
      <a [routerLink]='["/"]'>
        <img src="/assets/images/logo.png" alt="logo" />
        <span class="header__logo__text">
          <strong lnVoice>{{'logo1' | translate}}</strong>
          <span lnVoice>{{'logo2' | translate}}</span>
        </span>
      </a>
    </div>
    <div class="header__personal-room-link">
      <a href="#" lnVoice>
        <i class="sprite sprite-enter"></i>
        {{'Персональный кабинет' | translate}}
      </a>
    </div>
  </div>
  <div class="header__menu">
    <div class="header__menu-top-links">
      <a *ngFor='let item of topMenu$ | async' [routerLink]='item.slug | menuUrl:item.view'
        class="header__menu-top-links__item" lnVoice>
        {{item.label}}
      </a>
    </div>
    <i class="main-nav-hamburger" data-target='.main-nav' lnMenuToggle></i>
  </div>
</header>
<div class="main-nav">
  <div class="main-nav__header">
    <i class="sprite sprite-close main-nav__close" data-target='.main-nav' lnMenuToggle></i>
    <div class="main-nav__search-field">
      <mat-form-field>
        <form (submit)='onSearch(searchField.value)'>
          <input #searchField matInput placeholder="Поиск по сайту">
          <button>
            <i class="sprite sprite-search"></i>
          </button>
        </form>
      </mat-form-field>
    </div>
  </div>
  <ln-main-menu class="main-nav__body"></ln-main-menu>
</div>
