@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('Ubuntu-Regular.woff2') format('woff2'),
    url('Ubuntu-Regular.woff') format('woff'),
    url('Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('Ubuntu-Italic.woff2') format('woff2'),
    url('Ubuntu-Italic.woff') format('woff'),
    url('Ubuntu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('Ubuntu-BoldItalic.woff2') format('woff2'),
    url('Ubuntu-BoldItalic.woff') format('woff'),
    url('Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: url('Ubuntu-LightItalic.woff2') format('woff2'),
    url('Ubuntu-LightItalic.woff') format('woff'),
    url('Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: url('Ubuntu-MediumItalic.woff2') format('woff2'),
    url('Ubuntu-MediumItalic.woff') format('woff'),
    url('Ubuntu-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu-Bold.woff2') format('woff2'),
    url('Ubuntu-Bold.woff') format('woff'),
    url('Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('Ubuntu-Light.woff2') format('woff2'),
    url('Ubuntu-Light.woff') format('woff'),
    url('Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('Ubuntu-Medium.woff2') format('woff2'),
    url('Ubuntu-Medium.woff') format('woff'),
    url('Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UbuntuCondensed-Regular';
  src: url('UbuntuCondensed-Regular.woff2') format('woff2'),
    url('UbuntuCondensed-Regular.woff') format('woff'),
    url('UbuntuCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
