<ln-layout>
  <div class="container">
    <ln-page-header image='/assets/images/img/search.jpg' [title]='q' [category]='"Поиск по запросу:" | translate'
      class="page-header"></ln-page-header>
    <div class="contents content__inner">
      <ln-sidebar class="left-content sidebar" *ngIf='subItems$ | async as subItems' [items]='subItems'></ln-sidebar>
      <div class="right-content">
        <ln-default-articles-list *ngIf='posts$ | async as posts' [posts]='posts'></ln-default-articles-list>
      </div>
    </div>
  </div>
</ln-layout>
