<ln-layout>
  <div *ngIf='currCat' class="container">
    <ln-page-header [image]='currCat.image ? currCat.image : parentCat && parentCat.image ? parentCat.image : null'
      [title]='currCat.label' [category]='parentCat ? parentCat.label : null' class="page-header"></ln-page-header>
    <div class="contents content__inner">
      <ln-sidebar class="left-content sidebar" [items]='subItems'></ln-sidebar>
      <div class="right-content library">
        <mat-tab-group class="authors-tabs" [selectedIndex]='currentTab' (selectedTabChange)='onTabChange($event)'
          *ngIf='posts'>
          <mat-tab>
            <ng-template mat-tab-label>
              <span lnVoice>
                Авторы
              </span>
            </ng-template>
            <ln-authors class="mat-tab-content library__authors" [posts]='posts'></ln-authors>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span lnVoice>
                Файлы
              </span>
            </ng-template>
            <ln-files class="mat-tab-content" [posts]='posts'></ln-files>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span lnVoice>
                КЛЮЧЕВЫЕ СЛОВА
              </span>
            </ng-template>
            <ln-keywords class="mat-tab-content" [posts]='posts'></ln-keywords>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span lnVoice>
                Литература
              </span>
            </ng-template>
            <ln-literature class="mat-tab-content" [posts]='posts'></ln-literature>
          </mat-tab>
        </mat-tab-group>
        <mat-paginator class="default-mat-paginator" *ngIf="totalCount > limit" [length]="totalCount"
          hidePageSize='true' [pageSize]='limit' [pageIndex]="page" (page)="goToPage($event)"></mat-paginator>
      </div>
    </div>
  </div>
</ln-layout>
