@import '~compass-mixins/lib/compass/css3';
@import './variables';
@import './functions';

:host {
  a {
    color: $defaultFontColor;
    font-size: 16px;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
