<ln-layout>
  <div class="container">
    <ln-page-header [title]='"Карта сайта" | translate' class="page-header"></ln-page-header>
    <div class="contents content__inner">
      <ln-sidebar class="left-content sidebar"></ln-sidebar>
      <div class="right-content">
        <ul *ngIf="menuItems$ | async as items">
          <li *ngFor="let item of items">
            <a lnVoice [routerLink]="item.slug | menuUrl:item.view">{{item.label}}</a>
            <ul *ngIf="item.children">
              <li *ngFor="let child of item.children">
                <a lnVoice [routerLink]="child.slug | menuUrl:child.view">{{child.label}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ln-layout>
