<ln-layout>
  <div *ngIf='currCat' class="container">
    <ln-page-header [image]='currCat.image ? currCat.image : parentCat && parentCat.image ? parentCat.image : null'
      [title]='currCat.label' [category]='parentCat ? parentCat.label : null' class="page-header"></ln-page-header>
    <div class="contents content__inner">
      <ln-sidebar class="left-content sidebar" [items]='subItems'></ln-sidebar>
      <div class="right-content">
        <ng-container [ngSwitch]="currCat.view">
          <ng-container *ngIf='currCat.view !== "calendar" && posts'>
            <ln-doc-list *ngSwitchCase="'docList'" [posts]='posts'></ln-doc-list>
            <ln-news *ngSwitchCase="'news'" [posts]='posts'></ln-news>
            <ln-ads *ngSwitchCase="'ads'" [posts]='posts'></ln-ads>
            <ln-mass-media *ngSwitchCase="'massMedia'" [posts]='posts'></ln-mass-media>
            <ln-category-default-view *ngSwitchDefault [posts]='posts'></ln-category-default-view>
          </ng-container>
          <ln-calendar (dateChaged)='onDatePickerChange($event)' class="calendar" *ngSwitchCase="'calendar'"
            [posts]='posts'>
          </ln-calendar>
        </ng-container>
        <mat-paginator class="default-mat-paginator" *ngIf="totalCount > limit" [length]="totalCount"
          hidePageSize='true' [pageSize]='limit' [pageIndex]="page" (page)="goToPage($event)"></mat-paginator>
      </div>
    </div>
  </div>
</ln-layout>
