@font-face {
  font-family: 'PTSans';
  src: url('PTSans-Regular.woff2') format('woff2'),
    url('PTSans-Regular.woff') format('woff'),
    url('PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url('PTSans-BoldItalic.woff2') format('woff2'),
    url('PTSans-BoldItalic.woff') format('woff'),
    url('PTSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PTSans';
  src: url('PTSans-Bold.woff2') format('woff2'),
    url('PTSans-Bold.woff') format('woff'),
    url('PTSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url('PTSans-Italic.woff2') format('woff2'),
    url('PTSans-Italic.woff') format('woff'),
    url('PTSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
