<div class="mass-media">
  <ul class="mass-media__list">
    <li *ngFor="let post of posts">
      <div class="mass-media__list__img" *ngIf="post.images">
        <img [src]="post.images.smallSquare" alt="">
      </div>
      <div class="mass-media__list__content">
        <div class="mass-media__list__date">{{post.published_at | datePipe: 'dd MMM'}}</div>
        <a class="mass-media__list__title" [routerLink]='["/post", post.slug]'>{{post.title}}</a>
      </div>
    </li>
  </ul>
  <!-- <a class="more-list" href="#">{{'Еще' | translate}}...</a> -->
</div>
