<ln-layout mainPage='true'>
  <ln-top-blocks class="ds-b top-block"></ln-top-blocks>
  <ln-main-tabs class="ds-b main-tabs"></ln-main-tabs>
  <ln-popular-news class="ds-b popular-news"></ln-popular-news>
  <ln-int-activty class="ds-b container int-activity"></ln-int-activty>
</ln-layout>
