<div class="item">
  <a [routerLink]='["/sitemap"]'>
    <i class="sprite sprite-sitemap active"></i>
    <i class="sprite sprite-sitemap-hover hover"></i>
  </a>
</div>
<div class="item">
  <a href="#">
    <i class="sprite sprite-contact active"></i>
    <i class="sprite sprite-contact-hover hover"></i>
  </a>
</div>
<div class="item">
  <a href="#" class="voice" (click)='onVoiceActive()' [ngClass]='{"voice-on": voiceActive}'>
    <i class="sprite sprite-voice active"></i>
    <i class="sprite sprite-voice-hover hover"></i>
  </a>
</div>
<div class="item">
  <a href="#" lnToggleBlock data-target="#theme-choose" data-self=".theme-choose-link" class="theme-choose-link">
    <i class="sprite sprite-zoom active"></i>
    <i class="sprite sprite-zoom-hover hover"></i>
  </a>
  <div class="theme-choose" id="theme-choose">
    <span class="default" (click)='onThemeChange("default")'>a</span>
    <span class="gray" (click)='onThemeChange("gray")'>a</span>
    <span class="black" (click)='onThemeChange("black")'>a</span>
  </div>
</div>
<div class="item">
  <div class="lang-dropdown">
    <span data-target='#lang-nav' data-self='.active-lang' class="active-lang"
      lnToggleBlock>{{activeLocale.name}}</span>
    <ul id="lang-nav">
      <ng-container *ngFor='let locale of locales'>
        <li *ngIf='locale !== activeLocale' (click)='onLocaleChange(locale)'>{{locale.name}}</li>
      </ng-container>

    </ul>
  </div>
</div>
