@import '~compass-mixins/lib/compass/css3';
@import './variables';
@import './functions';

:host {
  display: block;
  position: fixed;
  height: 100%;
  width: 0;
  @include display-flex;
  @include justify-content(center);
  @include flex-direction(column);
  top: 0;
  left: 0;
  z-index: 18;

  .item {
    margin: 15px 0 15px 25px;
    width: 30px;
    text-align: center;
    position: relative;

    a.active {
      display: block !important;

      .active {
        display: none;
      }

      .hover {
        @include inline-block;
        vertical-align: top;
      }
    }

    .sprite {
      vertical-align: top;
    }

    .hover {
      display: none;
    }

    &:hover {
      .hover {
        @include inline-block;
        vertical-align: top;
      }

      .active {
        display: none;
      }
    }

    .voice-on {
      .active {
        display: none;
      }

      .hover {
        @include inline-block;
        vertical-align: top;

      }
    }
  }

  .lang-dropdown {
    position: relative;

    &::before {
      border: {
        left: 2.5px solid transparent;
        right: 2.5px solid transparent;
        top: 3px solid #9c9c9c;
      }

      position: absolute;
      top: calc(50% - 1.5px);
      right: 0;
      content: '';
    }

    span {
      color: #9ca4b3;
      line-height: 30px;
      display: block !important;
      cursor: pointer;

      &.active {
        color: $linkColor;
      }

      &:hover {
        color: $linkColor;
      }
    }

    ul {
      @include reset-list;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.9);
      @include box-shadow(0 3px 10px rgba(0, 0, 0, 0.1));
      padding: 7px 0;
      display: none;

      li {
        cursor: pointer;
        padding: 7px 0;
        text-align: center;

        &:hover {
          background: $linkColor;
          color: #ffffff;
        }
      }
    }
  }

  .theme-choose {
    position: absolute;
    top: -25px;
    left: calc(100% + 15px);
    padding: 15px 7.5px;
    background: #ffffff;
    @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.1));
    @include border-radius(5px);
    white-space: nowrap;
    display: none;

    span {
      @include inline-block;
      height: 28px;
      width: 28px;
      cursor: pointer;
      line-height: 28px;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      margin: 0 7.5px;
      vertical-align: top;

      &.default {
        background: $themeColor;
      }

      &.gray {
        background: gray;
      }

      &.black {
        background: black;
      }
    }
  }
}
