<div class="main-container" lnVoice [ngClass]='[mainPage ? "main-page" : "inner-page"]'>
  <ln-header></ln-header>
  <main class="content">
    <ng-content></ng-content>
  </main>
  <ng-container *ngIf='!mainPage'>
    <div class="main-container__circle1"></div>
    <div class="main-container__circle2"></div>
  </ng-container>
</div>
<ln-content-bottom-links></ln-content-bottom-links>
<ln-footer></ln-footer>
<ln-aside-icons></ln-aside-icons>
<ln-loader></ln-loader>
