<div class="content-bottom-links">
  <div class="container">
    <ul>
      <li *ngFor='let post of posts$ | async;'>
        <div class="content-bottom-links__icon">
          <img src="/assets/images/icons/order.png" alt="" />
        </div>
        <a [routerLink]='["/post", post.slug]' class="content-bottom-links__title" lnVoice>{{post.title}}</a>
        <p lnVoice>
          {{post.description}}
        </p>
        <a [routerLink]='["/post", post.slug]' class="learn-more">
          {{'Узнать больше' | translate}}
          <i class="sprite sprite-arrow-right"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
