<ul class="docs-list">
  <li *ngFor="let post of posts">
    <div class="docs-list__icon">
      <i class="sprite sprite-pdf"></i>
    </div>
    <div class="docs-list__text">
      <div class="docs-list__date">{{post.published_at | datePipe:'dd MMMM yyyy'}} </div>
      <div class="docs-list__subtitle" lnVoice> Aвтор: {{post.author_name}}</div>
      <a [href]="post.document" class="docs-list__title" lnVoice>{{post.title}}</a>
    </div>
  </li>
</ul>
