<ln-layout>
  <div class="container">
    <ln-page-header
      [image]='currentMenu && currentMenu.image ? currentMenu.image : parent && parent.image ? parent.image : null'
      [title]='currentMenu ? currentMenu.label : null' [category]='parent ? parent.label : null' class="page-header">
    </ln-page-header>

    <div class="contents content__inner">
      <ln-sidebar class="left-content sidebar" [items]='subItems'></ln-sidebar>
      <div class="right-content">
        <div class="gallery-view">
          <mat-select (selectionChange)='onSelectionChange($event.value)' class="default-mat-select" [value]='slug'>
            <mat-option *ngFor="let album of albums" [value]='album.slug' lnVoice>{{album.title}}</mat-option>
          </mat-select>
          <ul class="gallery-view__list" *ngIf="album$ | async as album">
            <li *ngFor="let media of album.media">
              <a [href]="media.url" [attr.data-fancybox]='"gallery-view"'>
                <img [src]="media.thumbnail" alt="media.title"></a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</ln-layout>
