@import '~compass-mixins/lib/compass/css3';
@import './variables';
@import './functions';

.learn-more {
  color: $themeColor;
  font-size: 14px;
  font-family: 'Europe', sans-serif;
  line-height: 1;
  @include dec-n;
  @include inline-block;

  .sprite {
    margin-left: 10px;
  }
}

.more-list {
  color: $themeColor;
  border: 1px solid $themeColor;
  line-height: 31px;
  padding: 0 23px;
  @include dec-res;
  @include transition(all 0.3s);
  @include inline-block;

  &:hover {
    background: $themeColor;
    color: #fff;
  }
}
