@import '~normalize.css/normalize.css';

@mixin circle($size, $borderSize, $color, $opacity: .1) {
  @include border-radius(50%);
  width: #{$size}px;
  height: #{$size}px;
  @include opacity($opacity);
  border: #{$borderSize}px solid $color;
}
