.clearfix {
  @include clearfix;
}

.plus {
  @include plus();
}

.overflowed {
  overflow: hidden;
}

// layout
.container {
  width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}


.title-1 {
  font-size: 24px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}


.ds {
  &-b {
    display: block;
  }

  &-i {
    display: inline;
  }

  &-none {
    display: none;
  }

  &-ib {
    @include inline-block;
  }
}
