.default-mat-select {
  border-bottom: 1px solid $borderColor;

  .mat-select-value {
    line-height: 55px;
    color: #000000;
    font-size: 25px;
  }

  .mat-select-arrow {
    width: 10px;
    height: 12px;
    background: url(../assets/images/icons/select-arrow.png) no-repeat 0 0;
    border: none;
  }
}
