@import '~normalize.css/normalize.css';
@import './variables';

@mixin plus($size: 51, $color: $themeColor, $width: 2) {
  position: relative;
  width: #{$size}px;
  height: #{$size}px;
  display: block;

  &::before,
  &:after {
    content: '';
    background: $color;
    position: absolute;
  }

  &::before {
    height: 100%;
    width: #{$width}px;
    top: 0;
    left: calc(50% - #{($width / 2)}px);
  }

  &::after {
    height: #{$width}px;
    width: 100%;
    left: 0;
    top: calc(50% - #{($width / 2)}px);
  }
}
