.sprite {
  background-image: url(../assets/images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-arrow-right {
  width: 63px;
  height: 13px;
  background-position: -5px -5px;
}

.sprite-arrow-right-large {
  width: 80px;
  height: 16px;
  background-position: -78px -5px;
}

.sprite-calendar {
  width: 50px;
  height: 52px;
  background-position: -5px -31px;
}

.sprite-close {
  width: 19px;
  height: 20px;
  background-position: -65px -31px;
}

.sprite-contact {
  width: 13px;
  height: 9px;
  background-position: -94px -31px;
}

.sprite-contact-hover {
  width: 13px;
  height: 9px;
  background-position: -117px -31px;
}

.sprite-enter {
  width: 20px;
  height: 18px;
  background-position: -140px -31px;
}

.sprite-order {
  width: 50px;
  height: 50px;
  background-position: -94px -59px;
}

.sprite-pdf {
  width: 64px;
  height: 78px;
  background-position: -170px -5px;
}

.sprite-schedule {
  width: 50px;
  height: 50px;
  background-position: -5px -93px;
}

.sprite-search {
  width: 32px;
  height: 32px;
  background-position: -154px -93px;
}

.sprite-sitemap {
  width: 16px;
  height: 13px;
  background-position: -65px -93px;
}

.sprite-sitemap-hover {
  width: 16px;
  height: 13px;
  background-position: -196px -93px;
}

.sprite-time {
  width: 19px;
  height: 19px;
  background-position: -222px -93px;
}

.sprite-voice {
  width: 11px;
  height: 10px;
  background-position: -65px -122px;
}

.sprite-voice-hover {
  width: 11px;
  height: 10px;
  background-position: -86px -122px;
}

.sprite-zoom {
  width: 27px;
  height: 10px;
  background-position: -107px -122px;
}

.sprite-zoom-hover {
  width: 27px;
  height: 10px;
  background-position: -196px -122px;
}
