$navLinksLength: 25;
$defaultFontColor: #2f3133;
$defaultFontSize: 14px;
$defaultFontFamily: 'PtSans',
sans-serif,
"Helvetica Neue",
sans-serif;
$themeColor: #2fb474;
$linkColor: #0a33b8;
$borderColor: #c9c4c1;

@mixin blueGradient() {
  background: rgb(6, 89, 160);
  /* Old browsers */
  background: -moz-linear-gradient(top,
      rgba(6, 89, 160, 1) 0%,
      rgba(10, 46, 99, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top,
      rgba(6, 89, 160, 1) 0%,
      rgba(10, 46, 99, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
      rgba(6, 89, 160, 1) 0%,
      rgba(10, 46, 99, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0659a0', endColorstr='#0a2e63', GradientType=0);
}
