// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$judges-primary: mat-palette($mat-indigo);
$judges-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$judges-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$judges-theme: mat-light-theme($judges-primary, $judges-accent, $judges-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($judges-theme);

/* You can add global styles to this file, and also import other style files */

@import '~normalize.css/normalize.css';
@import '~compass-mixins/lib/compass/css3';
@import './variables';
@import './functions';
@import '../assets/fonts/europe/stylesheet.css';
@import '../assets/fonts/magistraltt/stylesheet.css';
@import '../assets/fonts/ptsans/stylesheet.css';
@import '../assets/fonts/ubuntu/stylesheet.css';
@import './sprite';
@import './circles';
@import './btns';
@import './plus';
@import './helpers';
@import './inputs';
@import './siteTheme';
// Ubuntu-Regular
// Ubuntu-Italic
// Ubuntu-BoldItalic
// Ubuntu-LightItalic
// Ubuntu-MediumItalic
// Ubuntu-Bold
// Ubuntu-Light
// Ubuntu-Medium
// UbuntuCondensed-Regular

* {
  @include box-sizing(border-box);
  outline: none;

  &::before,
  &::after {
    @include box-sizing(border-box);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  color: $defaultFontColor;
  line-height: 1.4;
}

a {
  color: $linkColor;
  @include dec-y;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 25px;
}

img {
  max-width: 100%;
}

.main-container {
  overflow: hidden;

  &.main-page {
    .header {
      &:not(.header-fixed) {
        padding-top: 81px;
      }

      .header__menu-top-links__item {
        color: #ffffff;
      }
    }
  }

  &.inner-page {
    position: relative;
    background: #f6f8f9;


    .main-nav-hamburger {
      background: rgba(255, 255, 255, .4);
      @include box-shadow(0 7px 18px 0 rgba(0, 0, 0, .1));
    }

    .content {
      position: relative;
      z-index: 2;

      &__inner {

        .right-content,
        .left-content {
          padding-bottom: 70px;
        }
      }
    }
  }

  &__circle1 {
    @include circle(562, 111, #abbbc0);
    position: absolute;
    z-index: 1;
    right: -127px;
    top: -37px;
  }

  &__circle2 {
    z-index: 1;
    @include circle(202, 24, #abbbc0);
    position: absolute;
    right: -95px;
    top: 559px;
  }
}

// header
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  @include clearfix;
  padding-top: 45px;



  &-fixed {
    padding: 10px 0;
    background: rgba(255, 255, 255, .9);
    @include box-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    position: fixed;
    z-index: 19;
    top: auto;
    bottom: 100%;
    @include transition(transform 0.4s);

    .main-nav-hamburger {
      background: none !important;
      @include box-shadow(none !important);
    }

    .header__menu-top-links__item {
      color: $defaultFontColor !important;
    }

    &.header-show {
      @include transform(translateY(100%));
    }
  }


  &__left {
    width: 56%;
    float: left;
  }

  &__logo {
    float: left;
    margin-left: 80px;

    @media (max-width: 1339px) {
      margin-left: 20px;
    }

    @media (max-width: 1599px) {
      margin-left: 40px;
    }

    a {
      display: block;
      @include dec-res;
      color: $defaultFontColor;

      img {
        float: left;
        margin-right: 22px;
      }
    }

    &__text {
      overflow: hidden;
      display: block;
      padding-top: 30px;
      text-transform: uppercase;

      strong {
        font-family: 'MagistralTT', sans-serif;
        font-size: 17.96px;
        font-weight: normal;
        display: block;
        color: #000000;
      }

      span {
        font-size: 10.87px;
        display: block;
      }
    }
  }

  &__personal-room-link {
    float: right;
    border-bottom: 1px dashed $themeColor;
    padding-bottom: 10px;
    margin-top: 32px;
    margin-right: 70px;

    a {
      display: block;
      color: $defaultFontColor;
      @include dec-res;
    }

    .sprite {
      margin-right: 13px;
    }
  }


  &__menu {
    float: right;
    // width: 44%;
    margin-top: 12px;

    &-top-links {
      float: left;
      line-height: 63px;

      &__item {
        float: left;
        margin-right: 20px;
        color: $defaultFontColor;
        @include dec-n;
        font-size: 14px;
        font-family: 'UbuntuCondensed-Regular';
      }
    }
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, .9);
  z-index: 99;
  overflow: auto;
  display: none;

  &__header {
    padding: 73px 40px;
    background: #0d418b;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 65px;
  }

  &__search-field {
    width: 740px;
    margin: 0 auto;
    color: #fff;
    position: relative;

    .mat-form-field {
      width: 100%;
    }

    button {
      position: absolute;
      right: 0;
      background: none;
      border: none;
      cursor: pointer;
      top: 18px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label {
      font-size: 24px;
      font-family: 'MagistralTT';
      color: #fff;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background: #fff;
    }

    input.mat-input-element {
      height: 65px;
      font-size: 22px;
      padding-right: 55px;
    }
  }

  &__body {
    ul {
      @include reset-list;
    }

    >ul {
      padding-bottom: 90px;

      >li {
        width: 25%;
        padding: 90px 90px 0 90px;
        @include inline-block;
        vertical-align: top;

        >a {
          font-size: 24px;
          font-family: 'MagistralTT';
          @include dec-n;
          margin-bottom: 40px;
          line-height: 1.1;
          display: block;
        }

        ul {
          li {
            a {
              display: block;
              margin: 0 -90px;
              padding: 10px 90px;
              color: $defaultFontColor;
              @include transition(all 0.3s);
              @include dec-res;

              &.active,
              &:hover {
                color: #fff;
                background-color: #49c388;
                @include border-radius(0 15px 15px 0);
              }
            }

          }
        }
      }
    }
  }
}

.main-nav-hamburger {
  width: 90px;
  height: 63px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  cursor: pointer;
  position: relative;
  display: block;
  float: left;

  &::before,
  &::after {
    width: 24px;
    height: 3px;
    background: #100f0f;
    content: '';
    position: absolute;
    left: calc(50% - 12px);
    @include transition(transform 0.4s);
  }

  &::before {
    top: calc(50% - 4.5px);
  }

  &::after {
    bottom: calc(50% - 4.5px);
  }

  &.active {
    &::before {
      @include rotate(45deg);
      margin-top: 2.5px;
    }

    &::after {
      @include rotate(-45deg);
      margin-bottom: 2.5px;
    }
  }
}

// main-page
.top-block {
  padding-top: 345px;
  padding-bottom: 149px;
  position: relative;
  margin-bottom: 140px;

  &::after {
    width: 44%;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../assets/images/top-img.jpg) no-repeat center center / cover;
  }

  &__circle {
    @include circle(339, 55, #abbbc0);
    position: absolute;
    top: -126px;
    left: calc(50% - 165px);
  }
}

.top-news {
  position: relative;
  z-index: 1;

  &__main {
    border-left: 8px solid $themeColor;
    padding-left: 54px;
    width: 50%;
    margin-bottom: 61px;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: 0;
    }

    &::before {
      @include circle(280, 50, #abbbc0);
      top: -102px;
      left: -114px;
    }

    &::after {
      @include circle(60, 10, #abbbc0);
      top: -86px;
      left: 108px;
    }

    &__title {
      position: relative;
      z-index: 1;
      color: #b4b4b4;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 25px;
      font-family: 'UbuntuCondensed-Regular', sans-serif;
    }

    &__item {
      color: #b4b4b4;
      position: relative;
      z-index: 1;

      p {
        margin-bottom: 0;
      }

      &__date {
        font-family: 'PTSans', sans-serif;
        font-weight: 600;
        color: $themeColor;
        margin-bottom: 12px;
      }

      &__title {
        font-size: 24px;
        font-family: 'UbuntuCondensed-Regular', sans-serif;
        color: #000000;
        margin-bottom: 15px;

        a {
          color: #000000;
          @include dec-n;
        }
      }
    }
  }

  &__list {
    background: rgba(255, 255, 255, 0.9);
    padding: 24px 0;
    position: relative;
    @include box-shadow(-10px 15px 15px rgba(0, 0, 0, 0.08));

    ul {
      @include reset-list;
      @include clearfix;
      width: 85%;

      li {
        float: left;
        padding: 0 43px;
        width: 33.33%;

        &:not(:first-child) {
          border-left: 1px solid $borderColor;
        }
      }
    }

    &__date {
      font-size: 12px;
      font-family: 'PTSans';
      font-weight: 600;
      color: #6bce9e;
      margin-bottom: 11px;
    }

    &__title {
      color: #000000;
      font-size: 16px;
      font-family: 'PTSans';
      font-weight: 600;
      display: block;
      @include dec-n;
    }

    &__btn {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      width: 15%;
      vertical-align: middle;
      text-align: center;
      @include blueGradient;
    }
  }
}

.main-tabs {
  margin-bottom: 151px;

  &__inner {
    display: table;
    width: 100%;
  }

  &__list {
    display: table-cell;
    width: 290px;
    vertical-align: middle;

    &-plus {
      position: absolute;
      bottom: 100%;
      right: 100%;
    }

    ul {
      position: relative;
      @include reset-list;
      font-family: 'MagistralTT', sans-serif;
      color: #000;
      font-size: 16px;

      li {
        &:not(.plus) {
          cursor: pointer;

          &.active,
          &:hover {
            color: $linkColor;
          }

          &.active {
            font-weight: bold;
          }

          &:not(:last-child) {
            margin-bottom: 35px
          }
        }
      }
    }
  }

  &__panels {
    display: table-cell;
    overflow: hidden;


    &-inner {
      position: relative;
      z-index: 1;
      width: 637px;
      @include blueGradient;

      &::before {
        @include circle(339, 55, #abbbc0);
        position: absolute;
        bottom: calc(100% - 261px);
        right: calc(100% - 268px);
        content: '';
      }
    }
  }

  &__panel {
    padding: 85px 210px 85px 90px;
    color: #ffffff;
    font-family: 'Europe', sans-serif;
    font-size: 14px;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &:not(.active) {
      z-index: -1;
      @include opacity(0);
    }

    &.active {

      .main-tabs__panel-title,
      .main-tabs__panel-img,
      .learn-more,
      p {
        @include opacity(1);
        @include transform(translate(0));
      }
    }

    &-title {
      font-size: 24px;
      font-family: 'UbuntuCondensed-Regular', sans-serif;
      margin-bottom: 35px;
      line-height: 1.2;
      @include transform(translateY(-100%));
      @include opacity(0);
      @include transition(all 0.6s ease-out);
    }

    p {
      margin-bottom: 35px;
      margin-top: 0;
      @include transform(translateX(-40%));
      @include opacity(0);
      @include transition(all 0.6s ease-out);
    }

    &-img {
      position: absolute;
      width: 344px;
      height: 229px;
      top: calc(50% - 114.5px);
      left: calc(100% - 114px);
      @include box-shadow(8px 12px 15px rgba(0, 0, 0, 0.05));
      @include transform(translateX(40%));
      @include opacity(0);
      @include transition(all 0.6s ease-out);

      background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
      }
    }

    .learn-more {
      @include transform(translateY(100%));
      @include opacity(0);
      @include transition(all 0.6s ease-out);
    }
  }
}


.popular-news {
  margin-bottom: 170px;

  &__main {
    margin-bottom: 113px;
    position: relative;

    &-img {
      width: 621px;
      height: 427px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;

      background: {
        position: center;
        size: cover;
        repeat: no-repeat;
      }
    }

    &-details {
      margin-left: 339px;
      padding-left: 392px;

      &__inner {
        margin-left: -392px;
        padding-left: 250px;
        background: #f2f7ff;
        min-height: 416px;
        position: relative;

        &::after {
          width: 2000px;
          left: 100%;
          background: #f2f7ff;
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
        }

        .overflowed {
          position: relative;
          padding-top: 60px;
          padding-bottom: 60px;
          padding-left: 142px;

          &::before {
            @include circle(280, 50, #abbbc0);
            top: -74px;
            left: -12px;
            content: '';
            position: absolute;
          }
        }

        h4 {
          font-size: 24px;
          font-family: 'UbuntuCondensed-Regular';
          margin-bottom: 40px;

          a {
            color: #000000;
            @include dec-n;
          }
        }

        p {
          margin-bottom: 34px;
          line-height: 1.7;
        }
      }
    }

    &-title {
      font-size: 24px;
      line-height: 1;
      font-family: 'MagistralTT', sans-serif;
      margin-bottom: 34px;
    }
  }

  &__list {
    @include reset-list;
    @include clearfix;
    font-size: 14px;
    font-family: 'Ubuntu-Light';
    color: #8b8b8b;

    li {
      float: left;
      width: 33.33%;
      padding-right: 50px;

      &:hover {
        .popular-news__list-title {
          text-decoration: underline;
          color: #000000;
        }

        .popular-news__list-date {
          background-color: $themeColor;
        }
      }
    }

    &-date {
      width: 58px;
      height: 58px;
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      background: #06599f;
      @include border-radius(50%);
      line-height: 1.1;
      padding-top: 10px;
      float: left;
      @include transition(background-color 0.4s);
      margin-right: 18px;

      span {
        display: block;
        font-size: 12px;
        font-weight: normal;
      }
    }

    &-title {
      font-size: 16px;
      font-family: 'UbuntuCondensed-Regular';
      color: #0b1a88;
      @include dec-n;
      line-height: 1.2;
      @include transition(color 0.4s);
      margin-bottom: 20px;
      display: block;
    }
  }
}

.int-activity {
  margin-bottom: 186px;

  &__inner {
    display: table;
    width: 100%;
    position: relative;

    &::before {
      @include circle(302, 50, #abbbc0);
      position: absolute;
      top: 10px;
      left: 210px;
      content: '';
    }

    &::after {
      @include circle(71, 10, #abbbc0);
      position: absolute;
      top: 10px;
      left: 90px;
      content: '';
    }
  }

  &__title {
    width: 415px;
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    border-right: 8px solid $themeColor;
    font-size: 36px;
    text-align: right;
    color: #000000;
    font-family: 'UbuntuCondensed-Regular';
    line-height: 1.1;
    padding-right: 30px;
  }

  &__list {
    display: table-cell;
    @include reset-list;
    padding-left: 72px;
    padding-top: 14px;
    padding-bottom: 14px;

    li {
      float: left;
      width: 50%;
      padding-right: 100px;

      &:not(:last-child):not(:nth-last-child(2)) {
        margin-bottom: 58px;
      }
    }
  }
}


.content-bottom-links {
  background: url(../assets/images/bg-img.jpg) repeat;
  padding: 63px 0;
  color: #fff;

  ul {
    @include reset-list;
    @include clearfix;
    padding: 0 65px;

    li {
      float: left;

      &:not(:last-child) {
        width: 37.5%;
        padding-right: 150px;
      }

      &:last-child {
        width: 25%;
      }
    }
  }

  &__icon {
    display: block;
    height: 50px;
    margin-bottom: 30px;

    img {
      height: 100%;
      display: block;
    }
  }

  &__title {
    font-size: 18px;
    color: #fff;
    display: block;
    @include dec-n;
    font-family: 'UbuntuCondensed-Regular';
    margin-bottom: 11px;
    text-transform: uppercase;
  }

  p {
    color: #a6adbc;
    margin-bottom: 40px;
  }
}


.footer {
  clear: both;

  &-top {
    padding: 114px 0 57px;
    border-bottom: 1px solid $borderColor;
    @include clearfix;
  }

  &-nav {
    float: left;
    width: calc(100% - 298px);

    &__grid {
      &__item {
        @include inline-block;
        vertical-align: top;
        width: 33%;
        margin-bottom: 30px;
        padding-right: 150px;
      }
    }

    &__main-title {
      font-size: 16px;
      color: #004bba;
      @include dec-n;
      @include inline-block;
      margin-bottom: 10px;
    }

    &__list {
      @include reset-list;

      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          color: #737373;
          @include dec-n;
        }
      }
    }
  }

  &-sidebar {
    width: 298px;
    float: right;
  }

  &-links {
    border-left: 2px solid $borderColor;
    padding-left: 40px;
    margin-bottom: 84px;

    ul {
      @include reset-list;

      li {
        &:not(:last-child) {
          margin-bottom: 25px;
        }

        a {
          color: #000000;
          font-size: 12px;
          font-family: 'Ubuntu-Regular';
          @include dec-n;
          display: table;
          width: 100%;
          overflow: hidden;

          i {
            width: 50px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
          }

          span {
            padding-left: 28px;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
  }

  &-contacts {
    padding-left: 40px;

    h4 {
      font-size: 18px;
      line-height: 1;
      margin-bottom: 36px;
      font-weight: normal;
    }
  }

  &-nets {
    overflow: hidden;
    white-space: nowrap;

    strong,
    b {
      float: left;
      margin-right: 15px;
      padding-top: 10px;
    }

    a:not(:last-child) {
      margin-right: 6px;
      @include inline-block;
      float: left;
      vertical-align: top;
    }
  }

  &-bottom {
    padding: 32px 0;
    @include clearfix;

    &__logo {
      float: left;

      img {
        float: left;
        margin-right: 18px;
        width: 42px;
      }

      .overflowed {
        font-size: 12px;
        padding-top: 10px;
        line-height: 1;

        strong {
          font-family: 'Ubuntu-Medium';
          display: block;
          text-transform: uppercase;
        }

        span {
          font-family: 'Ubuntu-Light';
        }
      }
    }

    &__note {
      padding-left: 100px;
      overflow: hidden;
      font-size: 13px;

      span {
        color: #ff3c3c;
      }
    }
  }
}


// sidebar
.sidebar {


  &__nav {
    @include reset-list;
    text-align: right;

    li {
      margin-bottom: 21px;

      a {
        color: $defaultFontColor;
        font-size: 16px;
        font-family: 'MagistralTT';
        @include dec-n;

        &.active {
          color: $linkColor;
        }
      }
    }
  }
}


.contents {
  @include display-flex;
  width: 100%;
}

.left-content {
  width: 430px;
  vertical-align: top;
  padding-right: 86px;
  background: #fff;
  position: relative;

  &::after {
    top: 0;
    bottom: 0;
    right: 100%;
    width: 5000px;
    z-index: 0;

    background: #fff;

    content: '';
    position: absolute;
  }

}

.right-content {
  position: relative;
  padding-left: 156px;
  width: calc(100% - 430px);
}


.page-header {
  display: block;

  .right-content,
  .left-content {
    padding-top: 195px;
    padding-bottom: 60px;
  }

  &__image {
    position: relative;
    z-index: 1;
    padding-right: 0;

    i {
      width: 409px;
      height: 268px;
      @include box-shadow(0 12px 35px rgba(0, 0, 0, .18));
      display: block;

      @include transform(translate(105px, 0));

      background: {
        repeat: no-repeat;
        position: center;
        size: cover;
      }
    }
  }

  .right-content {
    padding-right: 100px;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(flex-end);
  }

  &__category {
    color: #c5c6c7;
    margin-bottom: 10px;
    font-size: 16px;
  }

  &__title {
    color: #000000;
    font-size: 30px;
    line-height: 1.3;
    font-family: 'MagistralTT';
    font-weight: normal;
    margin: 0;
  }
}

.docs-list {
  @include reset-list;
  display: table;
  width: 100%;

  li {
    padding-bottom: 47px;
    margin-bottom: 47px;

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }
  }

  &__icon,
  &__text {
    display: table-cell;
    vertical-align: middle;
  }

  &__icon {
    padding-right: 28px;
  }

  &__title {
    font-size: 18px;
    color: #000000;
    @include dec-n;
  }

  &__date {
    font-size: 14px;
    color: #9d9e9f;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: #000000;
    margin-bottom: 5px;
  }
}


.calendar {
  display: block;
  color: #f6f6f6;

  .mat-calendar-body-label,
  .mat-calendar-period-button,
  .mat-calendar-body-cell-content {
    font-family: Europe;
  }

  .mat-calendar-arrow {
    border-top-color: #f6f6f6;
  }

  .mat-calendar-table-header-divider::after {
    background-color: #234373;
    @include opacity(0.6);
  }

  .mat-calendar-table-header {
    color: #2fb078;
    font-family: 'MagistralTT';
  }

  .mat-calendar-body-label,
  .mat-calendar-body-cell-content {
    color: #f6f6f6;
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: #2fb078;
  }

  .mat-calendar-body-cell-content {
    @include border-radius(5px);
  }

  &__header {
    margin-left: -156px;
    position: relative;
    @include blueGradient;
    padding-left: 156px;
    padding-top: 60px;
    padding-bottom: 60px;

    &::after {
      top: 0;
      bottom: 0;
      width: 5000px;
      left: 100%;
      content: '';
      @include blueGradient;
      position: absolute;
    }
  }

  &__datepicker {
    width: 304px;
    float: left;
    margin-right: 80px;
  }

  &__top-event {
    overflow: hidden;
    color: #fff;
    padding-top: 55px;

    &__title {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 30px;
    }

    &__body {
      border: 1px solid #3a598e;
      padding: 24px;
      @include border-radius(7px);
      font-size: 18px;

      &__header {
        padding-bottom: 20px;
        border-bottom: 1px solid #3a598e;
        @include clearfix;
        margin-bottom: 28px;

        .pull-left {
          color: #2fb078;
        }

        .pull-right {
          .sprite {
            margin-right: 5px;
            vertical-align: top;
            margin-top: 3px;
          }
        }
      }

      p {
        margin-bottom: 25px;
        line-height: 1.7;
      }

      a {
        color: #14a9ff;
        @include dec-y;
        font-size: 14px;
      }
    }
  }

  &__list {
    @include reset-list;

    li {
      padding: 60px 0;
      @include clearfix;

      &:not(:last-child) {
        border-bottom: 1px solid $borderColor;
      }
    }

    &__date {
      float: left;
      margin-right: 29px;

      >div {
        width: 74px;
        height: 74px;
        text-align: center;
        border: 1px solid $themeColor;
        @include border-radius(7px);
        color: #000000;
        line-height: 1;
        float: left;

        &:first-child {
          padding-top: 10px;
          font-size: 24px;

          span {
            font-size: 18px;
            display: block;
          }
        }

        &:last-child {
          line-height: 72px;
          font-size: 18px;
          margin-left: 13px;
        }
      }
    }

    &__text {
      overflow: hidden;
    }

    &__title {
      font-size: 16px;
      color: #000000;
      @include dec-n;
      text-transform: uppercase;
    }
  }
}


.authors-tabs {
  .mat-tab-label {
    line-height: 24px;
    height: 24px;
    font-size: 14px;
    color: #000000;
    font-family: 'PTSans';
    text-transform: uppercase;
    padding: 0 20px;
    min-width: 0;
  }

  .mat-tab-labels {
    @include justify-content(space-between);
    position: relative;
    z-index: 1;
  }

  .mat-tab-header {
    margin: 0 -20px;
    border-bottom: none;
  }

  .mat-ink-bar {
    background: $themeColor !important;
    height: 10px;
  }

  .mat-tab-content {
    padding-top: 50px;
    display: block;
  }

  .mat-tab-body-wrapper {
    margin-left: -156px;
  }

  .mat-tab-body.mat-tab-body-active {
    padding-left: 156px;
  }

  .mat-tab-body-content {
    overflow: visible;
  }
}

.library {
  &__authors {
    .default-mat-select {
      margin-bottom: 75px;
    }

    &__body {
      position: relative;

      &__title {
        right: 100%;
        max-width: 156px;
        white-space: nowrap;
        padding-right: 27px;
        text-align: right;
        color: #b1b2b3;
        font-size: 12px;
        text-transform: uppercase;
        top: 2px;
        position: absolute;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 25px;
  }
}


.keywords-list {
  &__item {
    background: #dae2eb;
    @include inline-block;
    vertical-align: top;
    color: #000000;
    font-size: 14px;
    text-transform: uppercase;
    @include dec-res;
    @include border-radius(7px);
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0 9px;
    margin-right: 17px;
    margin-bottom: 19px;
    @include transition(background-color 0.3s, color 0.3s);

    &:hover {
      background: $themeColor;
      color: #fff;
    }
  }
}

.default-articles-list {
  @include reset-list;

  li {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 17px;
    }

    &::before {
      height: 10px;
      width: 10px;
      background: $themeColor;
      content: '';
      position: absolute;
      right: calc(100% + 21px);
      top: 5px;
    }

    a {
      color: #000000;
      @include dec-n;
    }
  }
}


.gallery {
  @include display-flex;
  @include flex-wrap(wrap);
  @include justify-content(space-between);

  &__item {
    @include display-flex(inline-flex);
    width: calc(50% - 30px);
    height: 410px;
    position: relative;
    margin-bottom: 60px;

    background: {
      repeat: no-repeat;
      position: center;
      size: cover;
    }

    &__details {
      position: absolute;
      bottom: 0;
      padding: 14px;
      background: rgba(0, 0, 0, .6);
      left: 0;
      right: 0;
      z-index: 1;
    }

    &__title {
      display: block;
      font-size: 17px;
      color: #fff;
      @include dec-n;
      margin-bottom: 12px;
    }

    &__count {
      color: #919192;
      font-size: 14px;
    }

    &__link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}


.gallery-view {
  .default-mat-select {
    margin-bottom: 68px;

    .mat-select-value {
      font-size: 21px;
    }
  }

  &__list {
    @include reset-list;
    margin: 0 -12px;

    li {
      width: calc(33% - 22px);
      margin-bottom: 24px;
      @include inline-block;
      font-size: 0;
      margin: 0 12px 24px;
      vertical-align: top;

      img {
        width: 100%;
        display: block;
      }
    }
  }
}


.news {
  &__view-btns {
    margin-bottom: 85px;
    text-align: right;
    @include display-flex;
    @include justify-content(flex-end);

    &__btn {
      width: 36px;
      height: 36px;
      border: none;
      background: #fff;
      @include transition(background-color 0.4s);
      cursor: pointer;
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
      padding: 0 8px;
      @include box-shadow(0 3px 7px rgba(0, 0, 0, .4));

      &:not(:last-child) {
        margin-right: 18px;
      }

      &.active {
        background-color: $themeColor;
      }
    }

    &__list {
      span {
        display: block;
        height: 4px;
        background: $themeColor;
        margin: 1.5px 0;
        @include border-radius(3px);
        @include transition(background-color 0.4s);

        &:nth-child(2) {
          @include transition-delay(0.2s);
        }

        &:nth-child(3) {
          @include transition-delay(0.4s);
        }

        &:not(:last-child) {
          width: 100%;
        }

        &:last-child {
          width: calc(100% - 8px);
        }
      }

      &.active {
        span {
          background-color: #fff;
        }
      }
    }

    &__grid {
      span {
        display: block;
        width: 6px;
        height: 6px;
        position: relative;
        margin: 1.2px 0;
        @include border-radius(2px);
        background: $themeColor;
        @include transition(background-color 0.4s);

        &::before,
        &::after {
          height: 100%;
          width: 100%;
          @include border-radius(2px);
          content: '';
          position: absolute;
          top: 0;
          background: $themeColor;
          @include transition(background-color 0.4s);

        }

        &::before {
          left: calc(100% + 1.7px);
          @include transition-delay(0.2s);
        }

        &::after {
          left: calc(100% + 1.7px);
          margin-left: calc(100% + 1.7px);
          @include transition-delay(0.4s);
        }

        &:nth-child(1) {
          &::before {
            @include transition-delay(0.1s);
          }

          &::after {
            @include transition-delay(0.2s);
          }
        }

        &:nth-child(2) {
          @include transition-delay(0.3s);

          &::before {
            @include transition-delay(0.4s);
          }

          &::after {
            @include transition-delay(0.5s);
          }
        }

        &:nth-child(3) {
          @include transition-delay(0.6s);

          &::before {
            @include transition-delay(0.7s);
          }

          &::after {
            @include transition-delay(0.8s);
          }
        }
      }

      &.active {
        span {
          background-color: #fff;

          &::before,
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }

  &__list {
    @include reset-list;
    margin-bottom: 80px;

    li {
      @include box-shadow(0 7px 18px rgba(0, 0, 0, .04));
      background: #fff;
      @include clearfix;

      &:not(:last-child) {
        margin-bottom: 76px;
      }

      &:hover {
        @include box-shadow(0 4px 10px rgba(0, 0, 0, .04));

        .news__list__img {
          @include transform(translate(23px, 23px));
        }
      }
    }

    &__img {
      float: left;
      margin: -23px 15px 23px -23px;
      display: block;
      @include transition(transform 0.4s);
    }

    &__content {
      padding: 30px;
      overflow: hidden;
    }

    &__title {
      display: block;
      color: #0b1a88;
      @include dec-n;
      font-family: 'UbuntuCondensed-Regular';
      font-size: 16px;
      margin-bottom: 0;
    }

    &__date {
      font-size: 12px;
      color: #a3a3a3;
      margin-bottom: 10px;
    }

    &__desc {
      margin-bottom: 17px;
      color: #737373;
      line-height: 1.2;
    }

    &__grid {
      @include display-flex;
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      margin-bottom: 25px;

      .news__list__img {
        display: none;
      }

      li {
        width: calc(50% - 16.5px);
        margin-bottom: 33px;

        &:not(:last-child) {
          margin-bottom: 33px;
        }
      }
    }
  }
}



.ads {
  &__list {
    @include reset-list;
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin-bottom: 25px;

    li {
      @include box-shadow(0 7px 18px rgba(0, 0, 0, .04));
      background: #fff;
      @include clearfix;
      width: calc(50% - 16.5px);
      margin-bottom: 33px;
      border: 1px solid transparent;
      @include transition(all 0.4s);

      &:hover {
        @include box-shadow(none);
        border-color: $themeColor;

        .ads__list__title {
          color: #000000;
          text-decoration: underline;
        }
      }
    }


    &__content {
      padding: 30px;
      overflow: hidden;
    }

    &__title {
      display: block;
      color: #0b1a88;
      @include dec-n;
      font-family: 'UbuntuCondensed-Regular';
      font-size: 16px;
      margin-bottom: 18px;
    }

    &__date {
      font-size: 18px;
      color: #a3a3a3;
      margin-bottom: 18px;
    }
  }
}



.mass-media {
  &__list {
    @include reset-list;

    li {
      @include box-shadow(0 7px 18px rgba(0, 0, 0, .04));
      background: #fff;
      @include clearfix;
      margin-bottom: 40px;
      border: 1px solid transparent;
      @include transition(all 0.4s);
      @include display-flex;
      padding: 30px;

      &:hover {
        @include box-shadow(none);
        border-color: $themeColor;

        .mass-media__list__title {
          color: #000000;
          text-decoration: underline;
        }
      }
    }

    &__img {
      margin-right: 30px;
      padding-right: 30px;
      width: 116px;
      border-right: 1px solid #e6e6e6;
      @include display-flex;
      @include justify-content(center);
      @include flex-direction(column);
    }


    &__content {
      overflow: hidden;
    }

    &__title {
      display: block;
      color: #0b1a88;
      @include dec-n;
      font-family: 'UbuntuCondensed-Regular';
      font-size: 16px;
      margin-bottom: 18px;
    }

    &__date {
      font-size: 18px;
      color: #a3a3a3;
      margin-bottom: 18px;
    }
  }
}

.default-mat-paginator {
  background: none;
}
