<ng-container *ngIf='items$ | async as items'>
  <ul *ngIf='theme === "default"'>
    <li *ngFor='let item of items;'>
      <a routerLinkActive='active' lnMenuToggle [attr.data-close]='true' [attr.data-target]='".main-nav"'
        [routerLink]="item.slug | menuUrl:item.view" lnVoice>{{item.label}}</a>
      <ul *ngIf='item.children?.length'>
        <li *ngFor='let child of item.children'>
          <a routerLinkActive='active' lnMenuToggle [attr.data-close]='true' [attr.data-target]='".main-nav"'
            [routerLink]='child.slug | menuUrl:item.view' lnVoice>{{child.label}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <div *ngIf='theme==="footer"' class="footer-nav__grid" lnGrid>
    <div class="footer-nav__grid__item js-item" *ngFor='let item of items'>
      <a class="footer-nav__main-title" [routerLink]='item.slug | menuUrl:item.view' lnVoice>{{item.label}}</a>
      <ul class="footer-nav__list" *ngIf='item.children?.length'>
        <li *ngFor='let child of item.children'>
          <a [routerLink]='child.slug | menuUrl:item.view' lnVoice>{{child.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
