@font-face {
  font-family: 'MagistralTT';
  src: url('MagistralTT.eot');
  src: url('MagistralTT.eot?#iefix') format('embedded-opentype'),
    url('MagistralTT.woff2') format('woff2'),
    url('MagistralTT.woff') format('woff'),
    url('MagistralTT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
