@font-face {
  font-family: 'Europe';
  src: url('EuropeNormal.eot');
  src: url('EuropeNormal.eot?#iefix') format('embedded-opentype'),
    url('EuropeNormal.woff2') format('woff2'),
    url('EuropeNormal.woff') format('woff'),
    url('EuropeNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
